{% extends 'base.html' %}
{% load static %}




{% block content %}
<div class="change-password-container">
    <div class="change-password-form-wrapper">
        <h1 class="change-password-title">Password Reset Page</h1>

        <h3>Forgot your password? Use the form below to reset your password.</h3>

        <form action="" method="POST" class="change-password-form">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_email">Email:</label> 
                <input type="email" name="email" id="id_email" class="form-control" required autocomplete="email" placeholder="Enter your email address">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
    </div>
</div>
{% endblock content %}

