{% extends 'base.html' %}
{% load static %}

{% block title %}Create New Post{% endblock %}



{% block content %}
<div class="content-wrapper">
    <div class="form-section">
        <h1>Create New Blog Post</h1>

        {% if messages %}
            <ul class="message-list">
                {% for message in messages %}
                    <li class="message-item message-{{ message.tags }}"> 
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="form-container"> 
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="form-errors non-field-errors">
                        <p><strong>Please correct the following issues:</strong></p>
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <div class="help-text">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="form-actions">
                    <button type="submit" class="button button-primary">Create Post</button>
                    <a href="{% url 'blog:home' %}" class="button button-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}