{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="post-detail-container">
    <article>
        <h1 class="post-detail-title">{{ post.title }}</h1>

        <div class="post-detail-meta">
            <span class="post-detail-author">By {{ post.author }}</span>
            <span class="separator">|</span>
            <span class="post-detail-category">Category: <a href="{% url 'blog:categories' post.category.slug %}"style="color: #007bff; text-decoration: none; font-weight: bold;">{{ post.category.name | capfirst }}</a></span>
            <span class="separator">|</span>
            
            {% comment %} Ensure publish_date is formatted nicely for humans and machines {% endcomment %}
            <time class="post-detail-date" datetime="{{ post.publish_date|date:'Y-m-d' }}">{{ post.publish_date|date:"F d, Y" }}</time>
        </div>

        {% if post.thumbnail %}
            <div class="post-detail-thumbnail">
                <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="post-thumbnail-img">
            </div>
        {% endif %}

        <div class="post-detail-content">
            {{ post.content|safe }} 
        </div>

        <div class="post-detail-actions">
            {% if request.user.is_authenticated and request.user == post.author %}
                <a href="{{ post.get_post_edit_url }}" class="button button-edit">Edit</a>
                <form action="{% url 'blog:post_delete' post.publish_date.year post.publish_date.month post.publish_date.day post.slug %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="button button-delete" onclick="return confirm('Are you sure you want to delete the post titled &quot;{{ post.title }}&quot;? This action cannot be undone.');">Delete</button>
                </form>
            {% endif %}
            <a href="{% url 'blog:home' %}" class="button button-secondary back-to-blog-btn">Back to Blog</a>
        </div>
    </article>
</main>
{% endblock content %}