{% extends 'base.html' %}
{% load static %}
{% load humanize %} {# Optional: For 'naturaltime' filter if you want '2 days ago' for dates #}


{% block content %}
    <div class="dashboard-posts-container">
        <h1>Your Posts</h1>

        {% if posts %}
            {% for post in posts %}
                <article class="dashboard-post-card">
                    <div class="post-header">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <span class="post-status status-{{ post.status|lower }}">{{ post.status }}</span>
                    </div>

                    <div class="post-body">
                        {% if post.thumbnail %}
                            <div class="post-thumbnail">
                                <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
                            </div>
                        {% endif %}
                        <div class="post-content">
                            <p class="post-summary">{{ post.summary|truncatechars:180 }}</p>
                            <div class="post-meta">
                                <span>By {{ post.author }}</span>
                                <span>Category: {{ post.category }}</span>
                                <span>Published: {{ post.publish_date|date:"M d, Y" }}</span>
                                {% if post.publish_date != post.updated_at %}
                                    <span>Updated: {{ post.updated_at|date:"M d, Y" }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="post-actions">
                        <a href="{{ post.get_absolute_url }}" class="btn btn-view">View</a>
                        <a href="#" class="btn btn-edit">Edit</a>
                        <a href="#" class="btn btn-delete">Delete</a>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <p class="no-posts-message">You haven't created any posts yet.</p>
            <a href="#" class="btn btn-primary">Create Your First Post</a>
        {% endif %}
    </div>
{% endblock content %}



{% comment %} {% extends 'base.html' %}
{% load static %}



{% block content %}
    {% for post in posts %}
        {{ post.title }}
        {{ post.author }}
        {{ post.summary }}
        <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
        {{ post.publish_date }}
        {{ post.updated_at }}
        {{ post.status }}
        {{ post.category }}
    {% endfor %}
{% endblock content %} {% endcomment %}