{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/detail_page.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/login_page.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/register.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/change_password.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/password_reset_email_form.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/password_reset_form.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/users_posts.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/edit_profile.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/create.css' %}">
     <link rel="stylesheet" href="{% static 'CSS/post_edit.css' %}">


     <script src="{% static 'JS/toggle_content.js' %}"></script>
     
</head>
<body>
    <header class="page-header">
        <a href="{% url 'blog:home' %}" class="logo"><img src="{% static 'Images/logo.png' %}" alt="Logo" style="width: 70px; height: 40px;"></a>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'blog:home' %}">Home</a></li>
                <li><a href="{% url 'blog:about_page' %}">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="#" id="toggleSectionButton" >Dashboard</a></li>
                {% endif %}
            </ul>
            <ul>
                <li>
                     {% if user.is_authenticated %}
                        <span>Welcome, <strong>{{ user.user_name |capfirst }}</strong></span>
                    {% else %}
                        <span>Welcome, User</span>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                        <small><a href="{% url 'accounts:confirm_logout' %}" style="color:#acabab;">Logout</a></small>
                    {% else %}
                        <a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:register' %}">Sign Up</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>

    <aside class="left-sidebar">
        <div id="collapsibleSection" style="display: none;">
            <h3>Dashboard links</h3>
            <ul id="dashboardLinks">
                <h4><span style="color: #2ecc71;">&#10148; </span><a href="{% url 'accounts:my_profile' %}" style="color: #55a2f4; text-decoration: none; font-weight: bold; font-size: 1.1em;">My Profile</a></h4>
                <h4><span style="color: #2ecc71;">&#10148; </span><a href="{% url 'accounts:change_password' %}" style="color: #55a2f4; text-decoration: none; font-weight: bold; font-size: 1.1em;">Change Password</a></h4>
                <h4><span style="color: #2ecc71;">&#10148; </span><a href="#" style="color: #55a2f4; text-decoration: none; font-weight: bold; font-size: 1.1em;">Settings</a></h4>
            </ul>
            <hr style="border: none; border-top: 1px solid #d0d0d0; margin: 15px 0;">
        </div>

        <br>
        <h3>Categories</h3>
        <h4><span style="color: #2ecc71;">&#10148; </span><a href="{% url 'blog:home' %}" style="color: #55a2f4; text-decoration: none; font-weight: bold; font-size: 1.1em;">All</a></h4>

        <hr style="border: none; border-top: 1px solid #d0d0d0; margin: 15px 0;">
        <ul>
            {% for category in categories %}
                <li>
                    <h4><span style="color: #2ecc71;">&#10148; </span><a href="{% url 'blog:categories' category.slug %}" style="color: #55a2f4; text-decoration: none; font-weight: bold; font-size: 1.1em;display: inline;" >{{ category.name }}</a></h4>
                </li>
            {% endfor %}
        </ul>

        <hr style="border: none; border-top: 1px solid #d0d0d0; margin: 15px 0;">

        <br>
        <h3>Quick Links</h3>
        <ul>
            <li><h4><span style="color: #2ecc71;">&#10148; </span><a href="" style="color: #55a2f4; text-decoration: none; font-weight: bold; font-size: 1.1em;display: inline;" >Settings</a></h4></li>

            <li><h4><span style="color: #2ecc71;">&#10148; </span><a href="" style="color: #55a2f4; text-decoration: none; font-weight: bold; font-size: 1.1em;display: inline;" >T &amp; C</a></h4></li>
        </ul>
    </aside>

    <main class="main-content">
       {% block content %}
       {% endblock content %}
    </main>

    <aside class="right-aside">
        <h3>Quick Stats</h3>
        <p><strong>Total Posts:</strong> {{ posts_count }}</p>
        {% if user.is_authenticated %}
            <h4><span style="color: #2ecc71;">&#10148; </span><a href="{% url 'blog:user_posts' %}" style="color: #55a2f4; text-decoration: none; font-weight: bold; font-size: 1.1em;"><strong>Your Posts:</strong> {{ user.post_count }}</a></h4>
        {% endif %}

        <hr style="border: none; border-top: 1px solid #d0d0d0; margin: 15px 0;">
        
        <h3>Notifications</h3>
        <ul style="list-style: none; padding: 0;">
            <li style="margin-bottom: 8px;">New message from Admin.</li>
            <hr style="border: none; border-top: 1px solid #d0d0d0; margin: 15px 0;">
        </ul>

        {% if user.is_authenticated %}
            <h3>My Recent Posts</h3>
            <ul style="list-style: none; padding: 0;">
                {% with recent_posts=user.blog_posts.all|slice:":3" %}
                    {% for user_post in recent_posts %}
                        <li>
                            <h4><span style="color: #2ecc71;">&#10148; </span><a href="{{ user_post.get_absolute_url}}" style="color: #55a2f4; text-decoration: none; font-weight: bold; font-size: 1.1em;">{{ user_post.title }}</a></h4>
                        </li>
                    {% empty %}
                        <li><h4 style="color: #777;">You haven't made any post.</h4></li>
                    {% endfor %}
                {% endwith %}
            </ul>
            {% else %}
                <div style="margin-bottom: 20px;">
                <a href="#"><img src="../../static/Images/blog-advert.jpg" alt="advert" width="170px"></a></div>
                <div><a href="#"><img src="../../static/Images/blog-advert2.jpg" alt="advert" width="170px"></a></div>
                
        {% endif %}
       
    </aside>

    <footer class="footer">
        <p>&copy; <span id="current-year"></span> Test Blog. All rights reserved.</p>
        <p>
            <a href="#">Privacy Policy</a> | 
            <a href="#">Terms of Service</a> | 
            <a href="#">Contact</a>
        </p>
    </footer>

    <script>
        // JavaScript to automatically update the copyright year in the footer
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>

</body>
</html>